<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inProduction</key>
	<false/>
	<key>developmentAppKey</key>
	<string>b4gVZY_mRZqmKVqCuVrgaQ</string>
	<key>developmentAppSecret</key>
	<string>_Cg8GgvkTXeQRxLQ2TPT3A</string>
	<key>productionAppKey</key>
	<string>Your Production App Key</string>
	<key>productionAppSecret</key>
	<string>Your Production App Secret</string>
</dict>
</plist>
